.privacyparentContainer{
    top: 60%;
    position: relative;
    color: black;
    align-items: center;
    margin: 2rem 3rem;
}
.privacycentered{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.privacyparentContainer h4{
    margin: 0.5rem;
}