.nav-bottom{
    /* background-image: url('../../images/slider/navbg.jpeg'); */
    background-image: url('https://i.pinimg.com/originals/3e/b9/b9/3eb9b9b4c46c868b340aca63f43e646e.jpg');
    background-color: rgba(0, 0, 0, 0.1);
    height: 600px;
    width: 100%;
    margin-top: -90px;
    padding-top:100px ;
    background-repeat: inherit;

  }
  .lef{
    padding-bottom: 30px;
  }
  
  