.button {
    border: none;
    color: white;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    height: 7rem;
    width: 25rem;
  }
  
  .button1 {
    background-color: rgba(128, 128, 128, 0.434);
    color: black; 
  }
  .cart-button{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
  }
  .button-item{
    display: flex;
    justify-content:space-around;
    
  }
  .button-item .button-text{
    align-items: center;
    padding-top: 1.4rem;
  }
  .button-text p{
    font-size: 2rem;
    font-family: Potta One;
    /* font-weight: 100; */
    font-weight: lighter;
  }